<div class="container">
  <h2>Admin Base Drug</h2>
  <input type="text" #listFilter (keyup)="0" />
  <button class="btn-primary" (click)="onNew()">New ...</button>
  <div class="row">
    <div class="col-lg-7">
      <table border="2" width="100%" class="table table-hover">
        <tr>
          <td>
            <table border="2" width="100%" class="table table-hover">
              <tr>
                <th width="10">Base Drug Id</th>
                <th width="50%">Base Drug Name</th>
                <th>Edit</th>
              </tr>

              <!-- let i = index" (click)="setClickedBaseDrugRow(i)"
                  [class.active]="i == selectedBaseDrugRow"> -->
              <tr *ngFor="let obj of baseDrugList | drugFilter :listFilter.value; let i= index"
                  [class.active]="i == selectedBaseDrugRow" >
                <td>{{obj.baseDrugId}}</td>
                <td>
                  {{obj.baseDrugName}}
                </td>
                <td><button class="btn-primary" (click)="setClickedBaseDrugRow(obj)">Edit</button></td>
              </tr>

            </table>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-5">

    </div>
  </div>
</div>
