<div class="container">
  <h2>Drug Administration</h2>
  <div class="row">
    <div class="col-lg-7">
      <label>Filter Text for Brand name :</label>
      <input type="text" #listFilter (keyup)="0" />
      <button class="mat-radio-button btn-primary" (click)="newDrug()">New..</button>
      <table border="2" width="100%" class="table table-hover">
        <tr>
          <td>
            <table border="2" width="100%" class="table table-hover">
              <tr>
                <th width="10">Drug Id</th>
                <th width="30%">Base Drug  Name</th>
                <th width="30%">Drug  Name</th>
                <th width="10%">Location</th>
                <th width="20%">Edit</th>
              </tr>

              <tr *ngFor="let obj of drugList | drugPipe:listFilter.value; let i = index"
                  [class.active]="i == selectedDrugRow">
                <td>{{obj.drugId}}</td>
                <td>
                  {{obj.baseDrug.baseDrugName}}
                </td>
                <td>
                  {{obj.brandName}}
                </td>
                <td>{{obj.location}}</td>
                <td><button (click)='onEditDrug(obj)'>Edit</button></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </div>
    <div class="col-lg-4">
    </div>
  </div>
</div>
