<div class="container">
  <h2>Drug package details</h2>
  <div class="row">
    <div class="col-md-8">
       <label>Filte Text for Brand name :</label>
      <input type="text" #listFilter (keyup)="0" />
      <button class="btn-primary" (click)="onNew()">New..</button>
      <table border="2" width="100%" class="table table-hover">
        <tr>
          <th width="10">Drug package Id</th>
          <th width="50%">Base Drug Name</th>
          <th width="30%">Drug Name</th>
          <th width="10%"> Strength</th>
          <th width="5%"> Quantity</th>
          <th width="5%"> Min Order Level</th>
          <th width="5%"> Unit Price</th>
          <th width="5%"> Content Type</th>
          <th>Edit</th>
        </tr>

        <tr *ngFor="let obj of drugPackageList | drugPackagePipe:listFilter.value ; let i = index" (click)="setClickedDrugPackageRow(obj)"
            [class.active]="i == selectedDrugPackageRow">
          <td><a (click)="onEdit(obj)">{{obj.drugPackageId}}</a></td>
          <td>
            <a (click)="onEdit(obj)">{{obj.drug.baseDrug.baseDrugName}}</a>
          </td>
          <td>
            <a (click)="onEdit(obj)">{{obj.drug.brandName}}</a>
          </td>
          <td>
            {{obj.strength.strengthAmount}} {{obj.strength.unitName}}
          </td>
          <td>
            {{obj.quantity}}
          </td>
          <td>
            {{obj.minOrderLevel}}
          </td>
          <td>
            {{obj.unitPrice}}
          </td>
          <td>
            {{obj.drugPackageContentType}}
          </td>
          <td><button class="btn-primary" (click)="onEdit(obj)">Edit</button></td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
</div>
  </div>
</div>

