<div class="loginmodal-container">
  <h1>MedSys Login </h1><br>
  <form name="loginForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
    <input type="text" name="username" placeholder="Username"
           [(ngModel)]="model.username" #username="ngModel" required>
    <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
    <input type="password" name="password" placeholder="Password"
           [(ngModel)]="model.password" #password="ngModel" required>
    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
  </form>

  <div class="login-help">
    Please type in your username and password
  </div>
</div>

