<!--<head>-->
  <!--<style>-->
    <!--p {-->
      <!--text-indent: 500px;-->
      <!--color: darkgreen;-->
      <!--background-color: lightblue;-->
    <!--}-->
  <!--</style>-->
<!--</head>-->
<!--<div><h1><p>Med Sys Patient Administration </h1></div>-->
<!--<app-navbar></app-navbar>-->
<!--<router-outlet></router-outlet>-->

<app-menubar></app-menubar>
<div><header><h1>Inventory control system</h1>
</header></div>
<router-outlet></router-outlet>
<footer>Copyright &copy; dasoftsolutions </footer>

