<div>
  <header><h2>Medsys Patient and Drug Administration </h2>
    <div *ngIf="loginService.loggedIn">
      Welcome {{"      " +loginService.loggedInUser.firstname}}!
      <div align="left" class="text-warning">
        <button type="button" class="btn btn-primary" (click)="logOff()">Log Off</button>
      </div>
    </div>
  </header>
</div>
<div *ngIf="loginService.loggedIn">
  <app-menubar></app-menubar>
</div>
<app-patientnavbar></app-patientnavbar>
<router-outlet></router-outlet>
<footer>Copyright &copy; dasoftsolutions</footer>


