<div class="menu-bar">
  <div>
    <button>Admin</button>
    <div class="sub-menu-item">
      <a routerLink="supplier">Suppliers</a>
      <a routerLink="patientAdmin">Customers</a>
      <a routerLink="patientsave">New Patient</a>
      <a routerLink="medServiceItem">Medical services</a>
      <a routerLink="strength">Strength</a>
      <a [routerLink]='["drugAdmin"]'>Drug Admin</a>
      <a [routerLink]='["baseDrugAdmin"]'>Base Drug Admin</a>
      <a [routerLink]='["drugPackageAdmin"]'>Drug Package Admin</a>
      <!--<a routerLink="itemtype">Item type</a>-->
    </div>
  </div>

  <div>
    <button>Pharmacy</button>
    <div class="sub-menu-item">
      <a routerLink="pharmacyList" class="test">Prescription List</a>
      <a routerLink="serviceIssue">Create Service Issue</a>
      <a routerLink="grn">Goods Receiving</a>
      <a routerLink="issue">Issues</a>
      <a routerLink="payment">Make payment</a>
      <a routerLink="returnout">Return out</a>
      <a routerLink="po">Pending PO</a>

    </div>
  </div>

  <div *ngIf="userType ===1">
    <button>Report</button>
    <div class="sub-menu-item">
      <a routerLink="dailyIncome">Daily Income</a>
      <a routerLink="adjustStock">Adjust Stock</a>
      <a routerLink="inOut">In Out Report</a>
      <a routerLink="inOut">Return In</a>
      <a routerLink="inOut">Return out</a>
    </div>
  </div>


  <div>
    <button>Patient</button>
    <div class="sub-menu-item">
      <a routerLink="start">Patient Search</a>
      <a [routerLink]='["patientAdmin"]'>Patient Administration</a>
    </div>
  </div>
</div>

