<div class="dropdown">
  <button class="dropbtn">Admin</button>
  <div class="dropdown-content">
    <a routerLink="supplier">Suppliers</a>
    <a routerLink="patientAdmin">Customers</a>
    <a routerLink="patientsave">New Patient</a>
    <a routerLink="medServiceItem">Medical services</a>
    <a routerLink="strength">Strength</a>
    <a [routerLink]='["drugAdmin"]'>Drug Admin</a>
    <a [routerLink]='["baseDrugAdmin"]'>Base Drug Admin</a>
    <a [routerLink]='["drugPackageAdmin"]'>Drug Package Admin</a>
    <!--<a routerLink="itemtype">Item type</a>-->
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Pharmacy</button>
  <div class="dropdown-content">
    <a routerLink="pharmacyList">Prescription List</a>
    <a routerLink="serviceIssue">Create Service Issue</a>
    <a routerLink="grn">Goods Receiving</a>
    <a routerLink="issue">Issues</a>
    <a routerLink="payment">Make payment</a>
    <a routerLink="returnout">Return out</a>
    <a routerLink="po">Pending PO</a>

  </div>
</div>

<div class="dropdown" *ngIf="userType ===1">
  <button class="dropbtn">Report</button>
  <div class="dropdown-content">
    <a routerLink="dailyIncome">Daily Income</a>
    <a routerLink="adjustStock">Adjust Stock</a>
    <a routerLink="inOut">In Out Report</a>
    <a routerLink="inOut">Return In</a>
    <a routerLink="inOut">Return out</a>
  </div>
</div>


<div class="dropdown">
  <button class="dropbtn">Patient</button>
  <div class="dropdown-content">
    <a routerLink="start">Patient Search</a>
    <a [routerLink]='["patientAdmin"]'>Patient Administration</a>
  </div>
</div>


