<div class="container">
  <h1>Patient Details </h1>
  <div>
    <div class="form-group">
      <label>Patient Filter (Enter first name or last name)</label>
      <input type="text" #listFilter (keyup)="0" [disabled]="patientList.length < 3"/>
    </div>
  </div>
  <div class="scrollit">
    <table border="2" width="100%" class="table table-hover">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>DOB</th>
        <th>DOB</th>
        <th>Phone</th>
        <th>NIC</th>
        <th>Family history</th>
        <th>Social history</th>
        <th>Allergies</th>
        <th>Remarks</th>
      </tr>

      <tr *ngFor="let obj of patientList | patientAdminFilter:listFilter.value; let i = index" [class.active]="i == selectedRow">
        <td>{{obj.patientId}}</td>
        <td>
          <a (click)='goToEditView(obj.patientId)'>{{obj.firstname}} {{obj.middlename}} {{obj.lastname}}</a>
        </td>
        <td>{{obj.address}}</td>
        <td>{{obj.gender}}</td>
        <td>{{obj.dateOfBirth}}</td>
        <td>{{obj.phone}}</td>
        <td>{{obj.nic}}</td>
        <td>{{obj.familyHistory}}</td>
        <td>{{obj.socialHistory}}</td>
        <td>{{obj.allergies}}</td>
        <td>{{obj.remarks}}</td>
      </tr>
    </table>
  </div>
</div>

