<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered">
      <tr>
        <td>Strength Unit</td>
        <td>Strength Amount</td>
      </tr>
      <tr *ngFor="let row of strengthList">
        <td>{{row.unitName}}</td>
        <td>{{row.strengthAmount}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <form #f="ngForm" (submit)='doSave()'>
      <label>Unit</label>
      <select id='unit' name='unit' required [(ngModel)]="strength.strengthUnit.unitId" >
        <option *ngFor="let row of units" value="{{row.unitId}}">{{row.unitName}}</option>
      </select>
      <br/>
      <label>Amount</label>
      <input  id='amount' name='amount' type="number" required [(ngModel)]="strength.strengthAmount">
      <br/>
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Save</button>
      <button type="button">Cancel</button>
    </form>
  </div>
</div>
