<p align="center" style="color: #794522"> In this screen you can only add frequently used strength unit and amount combination. <br/>
  You can't edit or delete any existing combinations !
</p>
<div class="container">
  <td><button class="btn-primary" (click)="onNew()">New..</button></td>
  <br/>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <thead>
        <td>Strength Unit</td>
        <td>Strength Amount</td>
        </thead>
        <tr *ngFor="let row of strengthList">
          <td>{{row.unitName}}</td>
          <td>{{row.strengthAmount}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

