<div class="container">
  <h2>Admin Base Drug</h2>
  <div class="row">
    <div class="col-lg-7">
      <table border="2" width="100%" class="table table-hover">
        <tr>
          <td>
            <table border="2" width="100%" class="table table-hover">
              <tr>
                <th width="10">Base Drug Id</th>
                <th width="50%">Base Drug Name</th>
              </tr>

              <tr *ngFor="let obj of baseDrugList; let i = index" (click)="setClickedBaseDrugRow(i)"
                  [class.active]="i == selectedBaseDrugRow">
                <td>{{obj.baseDrugId}}</td>
                <td>
                  {{obj.baseDrugName}}
                </td>
              </tr>

            </table>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-5">
      <form #f="ngForm" (ngSubmit)="onSubmit()" ngClass="baseDrug">
        <h3> Edit Base Drug details </h3>
        <table width="100%">
          <tr>
            <th width="30%"></th>
            <th width="100%"></th>
            <th width="1%"></th>
          </tr>
          <tr>
            <td>
              <label for="baseDrugName">Base Drug Name : </label>
            </td>
            <td><input type="text" id="baseDrugName" name="baseDrugName" required [(ngModel)]="baseDrug.baseDrugName"/>
            </td>
            <td></td>
          </tr>

        </table>

        <br/>
        <table width="30%" cellpadding="15">
          <tr><td>
            <input type='submit' class="btn btn-primary" [disabled]="!f.valid"/>
          </td>
            <td><button class=" btn btn-primary" (click)="cancelEdit()">Cancel</button>
            </td>
          </tr>
        </table>

      </form>
    </div>
  </div>
</div>
