<div class="container">
  <div class="header">
    <a routerLink="/issueHistory">Show Past Drug Issues</a>
  </div>

  <label>Date of Issue</label>
  <input type="date" [ngModel]="dateOfIssue | date:'yyyy-MM-dd'"
         (ngModelChange)="dateOfIssue = $event"/>
  <br/>

  <app-service-component [patientVisit]="patientVisit" (serviceRemoved)="updated($event)"
   (serviceAdded)="updated($event)">
   </app-service-component>
  <label>Total : {{total | number:'1.2-2'}}</label>
  <tr><td> <label>Amount Paid :</label><input type="number" [(ngModel)]="paidAmount"></td></tr>
  <div>
    <button type="button" class="btn btn-primary" (click)="saveIssue()"> Save Issue</button>
    <button type="button" class="btn btn-danger" (click)="cancelIssue()"> Cancel Issue</button>
    <button type="button" class="btn btn-primary" (click)="print()" [disabled]="printDisabled">Print</button>
  </div>
</div>


  <!--&lt;!&ndash; Printing Part &ndash;&gt;-->

  <div id="printContent" style="display: none">
    <div style="font-family: 'Courier New', 'Courier New', Serif;
font-style: normal;
font-size: 10px;
text-align: left;">
      <h4> Suwapiyasa Medical Center - Indoor Pharmacy</h4>
      <h4>Date :{{dateOfIssue | date}}</h4>
      <br/>
      <label>Patient :</label>
      <label>[{{patientService.patientObject.patientId}}]-{{patientService.patientObject.firstname}}
        ,{{patientService.patientObject.lastname}} -
        {{patientService.patientObject.calculatedAge}} </label>

      <br/>

      <table class="table table-bordered">
        <tr *ngFor="let row of patientVisit.medicalServices">
          <td>{{row.itemDescription}}</td>
          <td></td>
          <td align="right">{{row.unitPrice |number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td><label>Total:</label></td>
          <td></td>
          <td>{{total | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td><label>Cash:</label></td>
          <td></td>
          <td>{{paidAmount | number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td><label>Balance:</label></td>
          <td></td>
          <td>{{(paidAmount - total)| number:'1.2-2'}}</td>
        </tr>
      </table>
    </div>
  </div>


