<div class="container">
  <label>Patient :</label>
  <label>{{makeIssue.patient.firstname}},{{makeIssue.patient.lastname}}</label>
  <label>Date of Issue</label>
  <input type="date" [ngModel]="makeIssue.dateOfIssue| date:'yyyy-MM-dd'"
         (ngModelChange)="prescriptionSearchCriteria.toDate = $event"/>
  <br/>
  <h5>Drugs </h5>
  <table class="table table-bordered">
    <thead>
    <tr>
      <td>Drug & Location</td>
      <td>Dose and Duration</td>
      <td>Unit Price</td>
      <td>Available Qty.</td>
      <td>Prescribed Qty</td>
      <td>Already Issued</td>
      <td>Issued Qty</td>
      <td>Price</td>
      <td>Balance</td>
    </tr>
    </thead>
    <tr *ngFor="let row of makeIssue.details">
      <td>{{row.drugPackage.drug.brandName}}- {{row.drugPackage.drug.location}}</td>
      <td>{{row.frequency}}-{{row.dose}}-{{row.duration}}</td>
      <td>{{row.drugPackage.unitPrice | number:'1.2-2'}}</td>
      <td>{{row.drugPackage.quantity | number:'1.2-2'}}</td>
      <td>{{row.prescribedQty | number:'1.2-2'}}</td>
      <td>{{row.issuedQty | number:'1.2-2'}}</td>
      <td><input type="number" (keyup)="calculateTotal()" [(ngModel)]="row.currentIssuedQty"
                 [disabled]="saveDisabled"></td>
      <td>{{(row.currentIssuedQty * row.drugPackage.unitPrice) | number:'1.2-2'}}</td>
      <td>{{row.prescribedQty - ((row.currentIssuedQty + row.issuedQty))}}</td>
    </tr>
  </table>
  <br/>

  <h2>Services</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Service</th>
      <th>Fee</th>
      <th>External Reference</th>
    </tr>
    </thead>
    <tr *ngFor="let row of makeIssue.serviceItems">
      <td>{{row.medicalServItem.itemDescription}}</td>
      <td>{{row.fee| number:'1.2-2'}}</td>
      <td>{{row.externalRef}}</td>
    </tr>
  </table>

  <br/>
  <label>Total : {{total}}</label>
  <br/>
  <label>Amount Paid :</label><input type="number" [(ngModel)]="paidAmount">
  <br/>
  <label>Balance :{{(paidAmount - total)| number:'1.2-2'}}</label>
  <br/>
  <button type="button" class="button btn-primary" (click)="registerIssue()" [disabled]="saveDisabled">Make Issue
  </button>
</div>


<!--&lt;!&ndash; Printing Part &ndash;&gt;-->

<div id="printContent" style="display: none">
  <h4> Suwapiyasa Medical Center - Indoor Pharmacy</h4>
  <h4>Date :{{makeIssue.dateOfIssue | date}}</h4>
  <h5>Drugs</h5>
  <table>
    <tr *ngFor="let row of makeIssue.details">
      <td>{{row.drugPackage.drug.brandName}}</td>
      <td>{{row.currentIssuedQty | number:'1.2-2'}}</td>
      <td>{{(row.currentIssuedQty * row.drugPackage.unitPrice)| number:'1.2-2'}}</td>
    </tr>
  </table>
  <h5> Services </h5>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Service</th>
      <th>Fee</th>
      <th>External Reference</th>
    </tr>
    </thead>
    <tr *ngFor="let row of makeIssue.serviceItems">
      <td>{{row.medicalServItem.itemDescription}}</td>
      <td>{{row.fee | number:'1.2-2'}}</td>
      <td>{{row.externalRef}}</td>
    </tr>
  </table>
  <hr/>
  <label>Total:{{total | number:'1.2-2'}}</label>
  <br/>
  <label>Cash :{{paidAmount | number:'1.2-2'}}</label>
  <br/>
  <label>Balance : {{(paidAmount - total) | number:'1.2-2'}}</label>
</div>
<button type="button" class="btn btn-primary" (click)="print()" [disabled]="printDisabled">Print</button>

<!--<br/>-->
<!--<h5>Services</h5>-->
<!--<tr *ngFor="let row of issue.issueNoteServiceItems">-->
<!--<td>{{row.medicalServItem.itemDescription}}</td>-->
<!--<td>{{row.fee}}</td>-->
<!--</tr>-->
<!--<br/>-->
<!--<label>Total :{{total}}</label>-->
<!--</div>-->
<!---->
<!--</div>-->
