<div class="container">
  <div *ngIf="saved">
    Adjustment done
  </div>
  <label>From Date :</label>
  <input type="date" [ngModel]="searchCritera.fromDate | date:'yyyy-MM-dd'"
         (ngModelChange)="searchCritera.fromDate = $event">
  <label>To Date :</label>
  <input type="date" [ngModel]="searchCritera.toDate| date:'yyyy-MM-dd'"
         (ngModelChange)="searchCritera.toDate = $event">
  <button type="button" class="btn btn-primary" (click)="doSearch()">Search</button>
  <table class="table table-bordered">
    <thead>
    <th>Date</th>
    <th>Drug Package</th>
    <th>Amount</th>
    <th>Notes</th>
    </thead>
    <tbody>
    <tr *ngFor="let row of adjustments">
      <td>{{row.dateOfAdjustment | date}}</td>
      <td>{{row.drugPackage.drug.brandName}}</td>
      <td>{{row.adjustedQty}}</td>
      <td>{{row.remarks}}</td>
    </tr>
    </tbody>
  </table>
  <div style="background-color: #bfd2c8">
    <table>
      <tr>
        <td></td>
        <td width="100px"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Date of Adjustment</td>
        <td></td>
        <td><input type="date" [ngModel]="adjustment.dateOfAdjustment |date:'yyyy-MM-dd'"
                   (ngModelChange)="adjustment.dateOfAdjustment = $event"></td>
        <td></td>
      </tr>
      <tr>
        <td>Drug Package</td>
        <td></td>
        <td>
          <input #search type="text" list='packageList' id="drug" name="drug" placeholder="Drug Package to search"
                 (keyup)="searchDrugPackage($event,search.value)"  [(ngModel)]="selectedIndex">
          <datalist id="packageList">
            <option *ngFor="let row of drugPackageList;let i=index" value="{{i}}">
              {{row.drug.brandName}},{{row.strength.strengthUnit.unitName}},{{row.strength.strengthAmount}}
            </option>
          </datalist>
        </td>
        <td> </td>
      </tr>
      <td></td>
      <td></td>
      <td>
      <div *ngIf="selectedDrugPackage">
        {{selectedDrugPackage.drug.brandName}},{{selectedDrugPackage.strength.strengthUnit.unitName}},{{selectedDrugPackage.strength.strengthAmount}}
      </div>
      </td>
      <tr>

      </tr>
      <tr>
        <td>Adjusted Amount</td>
        <td></td>
        <input type="number" [(ngModel)]="adjustment.adjustedQty">
      </tr>

      <tr>
        <td>Remarks</td>
        <td></td>
        <input type="text" size="100" [(ngModel)]="adjustment.remarks">
      </tr>
    </table>
    <br/>
    <button type="button" class="btn btn-primary" (click)="saveAdjustment()">Save</button>
  </div>
</div>
