.pharmacyHeader{
  background-color: #d2cb87;

}
.pharmacyHeader .subHeader
{
  text-align: center;
  font-family: "Microsoft Yi Baiti";
}

.pharmacyHeader .dataTable
{
  background-color: #fff709;
}
