<div class="container pharmacyHeader">
  <header>
    <h2 class="subHeader">Prescription List</h2>
    <div class="row">
      <div class="col-sm-2">
        <label>From Date :</label>
        <input type="date" [ngModel] ="prescriptionSearchCriteria.fromDate | date:'yyyy-MM-dd'"
               (ngModelChange)="prescriptionSearchCriteria.fromDate = $event">
      </div>
      <div class="col-sm-2">
        <label>To Date :</label>
        <input type="date" [ngModel] ="prescriptionSearchCriteria.toDate | date:'yyyy-MM-dd'"
               (ngModelChange)="prescriptionSearchCriteria.toDate = $event">
      </div>

      <div class="col-sm-4">
        <label for="all"><span>All</span></label>
        <input id='all' type="checkbox" name="All" [(ngModel)]="prescriptionSearchCriteria.all">
        <label for="initial"><span>Initial</span></label>
        <input id='initial' type="checkbox" name="INITIAL" [(ngModel)]="prescriptionSearchCriteria.initial">
        <label for="initial">Partially Completed</label>
        <input id='part' type="checkbox" name="PARTIALLY COMPLETED"
               [(ngModel)]="prescriptionSearchCriteria.partCompleted">
        <label for="completed">Completed</label>
        <input id='completed' type="checkbox" name="COMPLETED" [(ngModel)]="prescriptionSearchCriteria.completed">
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary" (click)="doSearch()">Search</button>
      </div>
    </div>
  </header>
  <br/>
  <label>Patient Filter</label>
  <input type="text" #listFilter (keyup)="0" [disabled]="prescriptionList.length < 3"/>

  <br/>
  <table border="2" width="100%" class="table table-hover dataTable ">
    <tr>
      <th width="10%">Patient name</th>
      <th witdh="5"> Issue no</th>
      <th width="60%">Drug details</th>
      <th width="20%">Status</th>
      <th width="5%">Print</th>
      <th width="5%">Edit</th>
    </tr>
    <!---->
    <tr *ngFor="let obj of prescriptionList | patient:listFilter.value; let i = index">
      <td>{{obj.patient.firstname}},{{obj.patient.lastname}}</td>
      <td><a (click)='issueDrugs(obj.id)'>{{obj.id}}</a></td>
      <td>
        <ul>
          <li *ngFor="let row of obj.prescriptionDetails">
            {{row.drugPackage.drug.brandName}}
          </li>
        </ul>
      </td>
      <td>{{obj.prescriptionStatus}}</td>
      <td>
        <button type="button" class="btn btn-primary"
                (click)="printView(obj)">Print
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-primary"
                (click)="editPrescription(obj)" [disabled]="isLocked(obj)">Edit
        </button>
      </td>
    </tr>
  </table>
</div>

