<div class="row">
  <div class="col-md-8">
    <!--The component for DPrescriptionDTOtion -->
    <app-prescription-component [patientVisit]="patientVisit"></app-prescription-component>
    <hr/>
    <app-service-component [patientVisit]="patientVisit"></app-service-component>
    <hr/>
      <label for="notes">Notes</label>
      <input type="text" id="notes" [(ngModel)]='patientVisit.note' name="notes"
             placeholder="notes">

    <br/>

  </div>
  <div class="col-md-4">
<!--<app-prescriptionDTO-history  [patient]="patient"></app-prescriptionDTO-history>-->
  </div>

</div>
<br/>
<button class="btn-primary" (click)="onSave()">Save Prescription</button>
<button class="btn-primary" (click)="onCancel()">Cancel Prescription</button>



<!--<app-printpop  [patientVisit]="patientVisit"></app-printpop>-->



