<h5> Services </h5>
<table class="table table-striped">
  <tr>
    <th>Service</th>
    <th>Price</th>
    <th>External Reference</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let row of patientVisit.medicalServices;let i=index">
    <td>
      <select [(ngModel)]="row.itemId" (change)="serviceChanged(row.itemId,i)">
        <option *ngFor="let x of medicalServices" value="{{x.itemId}}">{{x.itemDescription}}</option>
      </select>
    </td>
    <td>
      <input type="number" [(ngModel)]="row.unitPrice">
    </td>
    <td> <input type="text" [(ngModel)]="row.externalRef"></td>

    <td><button type="button" class="btn btn-primary" (click)="onAdd()">Add</button></td>
    <td><button type="button" class="btn btn-danger" (click)="onRemove(i)">Remove</button></td>
  </tr>
</table>
