<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label > NIC     </label>
        <input list='xyz' [(ngModel)]="nic" (keyup)="onKey($event)">
        <datalist id='xyz'>
          <option *ngFor="let pat of patientList" value="{{pat.nic}}">{{pat.nic}},{{pat.firstname}}</option>
        </datalist>
      </div>
    </div>
  </div>

  <ul class="typeahead">
    <li class="list-group-item" *ngFor="let pat of patientList; let i = index" (click)="doSelect(i)">
      <span class="badge-info">{{pat.firstname}},{{pat.nic}}</span>
    </li>
  </ul>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="patNo">Patient No&nbsp;: </label>
        <input type="text" id="patNo" name="patNo"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="patNo">Phone &nbsp;: </label>
        <input type="text" id="phone" name="phone"/>
      </div>
    </div>
  </div>


</div>

