.printHeader {
  margin-left: 25px;
}

.printHeader .nameText {
  font-family: 'Times New Roman', Times, Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.header.nameText.nameSubText {
  font-family: 'Times New Roman', Times, Serif;
  font-style: normal;
  font-size: 17px;
  text-align: left;
}
