<div class="container">
  <h1>Goods Receiving</h1>
  <div class="row">
    <div class="col-lg-2">
      <label>PO Number</label>
    </div>
    <div class="col-lg-2">
      <input type="text" (keyup)="loadPo($event,po.value)" #po/>
    </div>
    <div class="col-lg-6" align="right"><b>Supplier :</b> {{poDetail.supplier}}</div>
    <div class="col-lg-2" >Date : <input type="date"  [(ngModel)]='poDetail.expectedRecieveDate' required id="expectedRecieveDate" name="expectedRecieveDate"></div>
  </div>

  <table class="table table-responsive">
    <thead>
       <tr>
         <th>Item</th>
         <th>Ordered Qty.</th>
         <th>Balance Qty.</th>
         <th>Received Qty.</th>
       </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of poDetail.details" >
      <td>{{x.itemName}}</td>
      <td>{{x.orderedQty}}</td>
      <td>{{x.balanceQty}}</td>
      <td><input type="text" [(ngModel)]='x.receivedQty'></td>
    </tr>
    </tbody>
  </table>
  <div>
    <button type="button" class="button btn-primary" (click)="onSave()">Save</button>
    <button type="button" class="button btn-primary" (click)="onCancel()">Cancel</button>
  </div>
</div>
