<div class="container">
  <h1>Payment for Goods Receiving</h1>
  <div class="row">
    <div class="col-lg-2">
      <label>Supplier Invoice number</label>
    </div>
    <div class="col-lg-2">
      <input type="text" (keyup)="loadGRN($event,grn.value)" #grn/>
    </div>
  </div>
  <br/>
  <table class="table table-responsive" border="3">
    <thead>
    <tr>
      <th> Supplier</th>
      <th>GRN No</th>
      <th>Supplier Invoice</th>
      <th>GRN Date</th>
      <th>Status</th>
      <th>Bought Items</th>
      <th>Total amount</th>
      <th> Paid date</th>
      <th>Amount Paid</th>
      <th> Payment method</th>
      <th> Cheque/voucher details</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of grnsToPay let i = index">
      <th> {{x.supplierName}}</th>
      <td>{{x.drnid}}</td>
      <td>{{x.supplierInvoice}}</td>
      <td>{{x.grnDate}}</td>
      <td>{{x.grnStatus}}</td>
      <td>
        <ul>
          <li *ngFor="let obj of x.poForGrnDetailDTO ">{{obj.itemName}}</li>
        </ul>
      </td>
      <td>{{x.totalAmount}}</td>
      <td>
        <input type="date" [(ngModel)]='x.paymentDetails.paymentDate' required id="paymentDate" name="paymentDate">
      </td>
      <td><input type="text" [(ngModel)]='x.paymentDetails.amount' required id="amount" name="amount"></td>
      <td>
        <select name="paymentMethod" [(ngModel)]="x.paymentDetails.paymentMethod">
          <option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod">
            {{paymentMethod}}
          </option>
        </select>
      </td>
      <td><input type="text" [(ngModel)]='x.paymentDetails.paymentMethodDetails' id="paymentMethodDetails"
                 name="paymentMethodDetails"></td>
      <button type="button" class="button btn-primary" (click)="makePay(i)">Pay</button>
    </tr>
    </tbody>
  </table>
  <!--<div>-->
  <!--<button type="button" class="button btn-primary" (click)="onSave()">Save</button>-->
  <!--<button type="button" class="button btn-primary" (click)="onCancel()">Cancel</button>-->
  <!--</div>-->
</div>
