<div class="container">
  <div class="row">
    <div class="row col-md-1">
      <label>Amoxilin</label>
    </div>
    <div class="col-md-1">
      <select>
        <option value="5mg">5 mg</option>
        <option value="5mg">10 mg</option>
        <option value="20mg">20 mg</option>
      </select>
    </div>
    <div class="col-md-1">
      <select>
        <option value="1d">once daily</option>
        <option value="2d">Twice daily</option>
        <option value="3d">Thee times daily</option>
      </select>
    </div>
    <div class="col-md-1">
      <input type="text" name="fname" value="2">
    </div>
    <div class="col-md-1">
      <input type="text" name="fname" value="3">
    </div>
    <div class="col-md-1">
      <select>
        <option value="d">Days</option>
        <option value="h">months</option>
        <option value="w">Weeks</option>
      </select>
    </div>
  </div>
</div>

