<div class="container">
  <div class="row">
    <div class="row col-md-1">
      <label>Drug</label>
    </div>
    <div class="col-md-1">
      <label>Strength</label>
    </div>
    <div class="col-md-1">
      <label>Per</label>
    </div>
    <div class="col-md-1">
      <label>Quantity</label>
    </div>
    <div class="col-md-2">
      <label>Duration</label>
    </div>
    <div class="col-md-2">

    </div>
</div>
<app-drugdosage></app-drugdosage>
<app-drugdosage></app-drugdosage>
<app-drugdosage></app-drugdosage>
</div>
