<h5> Drug Details (Prescribed) </h5>
<br/>
<table class="table table-striped">
  <tr>
    <th>Drug</th>
    <th>Strength</th>
    <th>Available Stock</th>
    <th>Frequency</th>
    <th>Amount</th>
    <th>Duration</th>
    <th>Interval Unit</th>
    <th> B/A Meal</th>
    <th> Add</th>
    <th>Remove</th>
  </tr>
  <tr *ngFor="let row of patientVisit.prescribableDrug;let i=index">
    <td>
      <input type="text" [attr.list]='i' id="drug" name="drug" placeholder="Drug to search"
             (keyup)="searchDrug($event,row,i)" [(ngModel)]="row.drug.brandName" size="6">
      <datalist [id]="i">
        <option *ngFor="let drug of row.drugList" value="{{drug.brandName}}">{{drug.brandName}}</option>
      </datalist>
    </td>
    <td><select [(ngModel)]="row.selectedStrengthIndex" (change)="selectStrength(i)">
      <option *ngFor="let x of row.packages;let j=index" value="{{j}}">{{x.strength.strengthAmount+x.strength.strengthUnit.unitName}}</option>
    </select>
    </td>
    <td>{{row.availableQty}}</td>
    <td><select [(ngModel)]="row.selectedFrequency">
      <option *ngFor="let x of row.doseFrequency" value="{{x.doseFrequencyId}}">{{x.noofDoses +' '}} time(s) {{' '+x.timeUnit}}</option>
    </select>
    </td>
    <td><input type='text' [(ngModel)]="row.doseAmount" size="3"></td>
    <td><input type='text' [(ngModel)]="row.doseDuration" size="3"></td>
    <td>
      <select [(ngModel)]="row.selectedDuration">
      <option *ngFor="let x of row.durationUnit" value="{{x}}">{{x}}</option>
    </select>
    </td>
    <td><select [(ngModel)]="row.meal" value="AFTER">
      <option value="AFTER">After</option>
      <option value="BEFORE">Before</option>
      <option value="NA">NA</option>
    </select>
    </td>
    <td>
      <button (click)="addDrug()" class="btn btn-primary">Add</button>
    </td>
    <td>
      <button class="btn btn-danger" (click)="removeDrug(i)">Remove</button>
    </td>
  </tr>
</table>





