<!--<popup>-->
<!--<div id="print-section">-->
<!--<h1 align="center">OPD Name : ABS Medical Center</h1>-->
<!--<h4 align="center">Nugegoda, Gansabha handiya, </h4>-->
<!--<h4 align="center">0718345345</h4>-->
<!--<br/>-->
<!--<div> Doctor : Eshan Gamage</div>-->
<!--<div> Time : 2017/08/19 : 12.15 </div>-->
<h1>Prescription is saved </h1>
<label>Issue Id :</label>
<label>{{prescription.issueNo}}</label>
<!--<h2 align="center">Reciept : No 12323</h2>-->
<!--<table width="100%">-->
  <!--<tr >-->
    <!--<th>#</th>-->
    <!--<th>Description</th>-->
    <!--<th>Unit price</th>-->
    <!--<th>Qty</th>-->
    <!--<th>Total</th>-->
  <!--</tr>-->
<!--cdcd-->
  <!--<tr>-->
    <!--<td>1</td>-->
    <!--<td>Dr Fee</td>-->
    <!--<td>200</td>-->
    <!--<td>1</td>-->
    <!--<td>200</td>-->
  <!--</tr>-->

  <!--<tr>-->
    <!--<td>2</td>-->
    <!--<td>Panadol </td>-->
    <!--<td>2</td>-->
    <!--<td>10</td>-->
    <!--<td>20</td>-->
  <!--</tr>-->

  <!--<tr>-->
    <!--<td>3</td>-->
    <!--<td>Amoxilin</td>-->
    <!--<td>10</td>-->
    <!--<td>24</td>-->
    <!--<td>240</td>-->
  <!--</tr>-->

  <!--<tr>-->
    <!--<td>4</td>-->
    <!--<td>Dressing</td>-->
    <!--<td>200</td>-->
    <!--<td>1</td>-->
    <!--<td>200</td>-->
  <!--</tr>-->

  <!--<tr>-->
    <!--<td></td>-->
    <!--<td>Grand total</td>-->
    <!--<td></td>-->
    <!--<td></td>-->
    <!--<td>660</td>-->
  <!--</tr>-->
<!--</table>-->
<!--</div>-->
<!--<button (click)="print()"> Print Prescription</button>-->
<!--</popup>-->
<!--<button (click)="clickButton()" > Click here </button>-->
