<!--<popup>-->
<div id="print-section">
  <div style="margin-left: 25px;">
    <table>
      <tr>
        <td colspan="3">
          <div style="font-family: 'Times New Roman', Times, Serif;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          text-align: center;">SUWAPIYASA MEDICAL CENTER
          </div>
        </td>
      </tr>
      <tr style="font-family: 'Times New Roman', Times, Serif;
      font-style: normal;
      font-size: 17px;
      text-align: left;">
        <td>Dr. Janaka Abeysinghe MBBS(SL)</td>
        <td></td>
        <td width="40%" align="right">Reg. No. 17261</td>
      </tr>
      <tr>
        <td>Ambagashandiya, Kiriwattuduwa</td>
        <td></td>
        <td align="right">Tel : 0773-425881</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td align="right">0778-608100</td>
      </tr>
    </table>
    <hr/>
  </div>
  <div style="font-family: 'Courier New',Courier,Courier;font-style: normal;font-weight: bold;
    font-size: 12px;margin-left: 10px;">
    <label>Prescription No : {{prescription.id}}</label><br/>
    <label>Date: {{prescription.date | date }}</label><br/>
    <label>Patient :</label>
    <label>[{{prescription.patient.patientId}}]-{{prescription.patient.firstname}},{{prescription.patient.lastname}} -
      {{prescription.patient.calculatedAge}} </label>
    <br/>
    <table class="table table-bordered">
      <tbody>
      <tr *ngFor="let row of prescription.prescriptionDetails" style="border:1px;font-size: 12px">
        <!-- Tablets & fluids-->
        <div *ngIf="row.meal==='ORAL'">
          <td>{{row.drugPackage.drug.brandName}}&nbsp;</td>
          <td>{{(row.drugPackage.strength.strengthAmount * row.amount)+row.drugPackage.strength.strengthUnit.unitName}}
          </td>
          <td>{{row.frequency.noofDoses + ' '}}Time(s){{' '+row.frequency.timeUnit}}&nbsp;</td>
          <td>for&nbsp;</td>
          <td>{{row.duration}}&nbsp;{{row.intervalUnit}}</td>
        </div>

        <!-- Creams -->
        <div *ngIf="row.meal==='LA'">
          <td>{{row.drugPackage.drug.brandName}}</td>
          <td>{{row.frequency.noofDoses + ' '}}Time(s){{' '+row.frequency.timeUnit}}</td>
          <td> for</td>
          <td>{{row.duration}}&nbsp;{{row.intervalUnit}}</td>
          <td>Local Application</td>
        </div>


        <!-- Eye Drops -->
        <div *ngIf="row.meal==='EYE_DROP'">
          <td>{{row.drugPackage.drug.brandName}} - Eye Drop,</td>
          <td>{{row.frequency.noofDoses}}&nbsp;Time(s)&nbsp;{{row.frequency.timeUnit}}</td>
          <td> for&nbsp;</td>
          <td>{{row.duration}}&nbsp;{{row.intervalUnit}}</td>
          <td>Eye Drop</td>
        </div>

        <!-- Ear Drops -->
        <div *ngIf="row.meal==='EAR_DROP'">
          <td>{{row.drugPackage.drug.brandName}} - Ear Drops,</td>
          <td>{{row.frequency.noofDoses}}&nbsp;Time(s)&nbsp;{{row.frequency.timeUnit}}</td>
          <td> for&nbsp;</td>
          <td>{{row.duration}}&nbsp;{{row.intervalUnit}}</td>
          <td>Ear Drop</td>
        </div>

        <!-- Nasal Drops -->
        <div *ngIf="row.meal==='NASAL_DROP'">
          <td>{{row.drugPackage.drug.brandName}} - Nasal Drops,</td>
          <td>{{row.frequency.noofDoses}}&nbsp;Time(s)&nbsp;{{row.frequency.timeUnit}}</td>
          <td> for&nbsp;</td>
          <td>{{row.duration}}&nbsp;{{row.intervalUnit}}</td>
          <td>Nasal Drop</td>
        </div>

        <!-- Nasal Drops -->
        <div *ngIf="row.meal==='INHALE'">
          <td>{{row.drugPackage.drug.brandName}} - Inhale,</td>
          <td>{{row.frequency.noofDoses}}&nbsp;Time(s)&nbsp;{{row.frequency.timeUnit}}</td>
          <td> for&nbsp;</td>
          <td>{{row.duration}}&nbsp;{{row.intervalUnit}}</td>
          <td>Inhale</td>
        </div>
      </tr>
      <hr/>
      </tbody>
    </table>
    <br/>
    {{prescription.externalNote}}
    <div>Do not repeat</div>
    <div>Do not substitute</div>
    <div>Please bring this when you come back</div>
  </div>
  <img [src]="imageUrl"/>
</div>
<button (click)="print()"> Print Prescription</button>

