<div class="container">
  <header>
    <h2>Medical Services </h2>
  </header>
  <nav>
    <table border="2" width="100%" class="table table-hover">
      <tr>
        <th width="20%">Id</th>
        <th width="50%">Item Desccription</th>
        <th width="30%">Unit price</th>
      </tr>

      <tr *ngFor="let medSer of medicalServiceItemList; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
        <td>{{medSer.itemId}}</td>
        <td>
          {{medSer.itemDescription}}
        </td>
        <td>{{medSer.unitPrice}}</td>
      </tr>
    </table>
  </nav>

  <article>
    <form #f="ngForm" (ngSubmit)="onSubmit()" ngClass="medicalServiceItem">
      <h3> Edit Medical Servicecs details </h3>
      <table width="100%">
        <tr>
          <th width="60%"></th>
          <th width="40%"></th>
          <th width="1%"> </th>
        </tr>
        <tr>
          <td>
            <label for="itemDescription">Description : </label>
          </td>
          <td><input type="text" id="itemDescription" name="itemDescription" required [(ngModel)]="medicalServiceItem.itemDescription"/>
          </td>
          <td></td>
        </tr>


        <tr>
          <td>
            <label for="unitPrice">Item Price : </label>
          </td>
          <td><input type="text" id="unitPrice" name="unitPrice"  [(ngModel)]="medicalServiceItem.unitPrice"/>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <input type='submit' class="btn btn-primary" [disabled]="!f.valid"/>
          </td>
          <td><button class="btn-primary" (click)="cancelEdit()">Cancel</button>
          </td>
          <td></td>
        </tr>

      </table>
    </form>

  </article>

</div>
